.subtotal
  .settled
    =t(:".subtotal")
    %span.subtotal_dollars= format_cents(subtotal)
  .remaining
    =t(:".remaining")
    %span.remaining_dollars{:class => statement.unsettled_balance.zero? ? "balanced" : nil}
      = format_cents(statement.unsettled_balance)
