#data.content
  %h2=t(:".lets_reconcile_your_account", :account_name => h(account.name))

  .form

    - form_for([account, statement]) do |form|

      %fieldset

        %p=t(:".first_take_a_look_at")

        %p=t(:".if_you_havent_reconciled_in_a_while")
        
        %p
          =t(:".when_was_the_statement_printed")
          = form.calendar_date_select :occurred_on, :size => 10
        
        %p
          =t(:".what_is_the_ending_balance")
          =t(:"$") + form.text_field(:ending_balance, :size => 8, :class => "number", :value => format_cents(statement.ending_balance, :unit => ""), :onchange => "this.value = Money.format(this)")

      %p
        = form.submit t(:".go_to_step_2")
        or
        = link_to(t(:".cancel"), account_path(account))
