%tr.current_balance
  - if container.is_a?(Statement)
    %th.date=l(statement.occurred_on)
    %th=t(:".ending_balance")
  - else
    %th.date=l(Date.today)
    %th=t(:".current_balance")
  %th.number.total.balance{:colspan => 2}= balance_cell(container, :tag => "span", :id => "balance")
%tr.spacer
  %td{:colspan => 4}
